/.gradle/8.0/checksums/checksums.lock
/.gradle/8.0/checksums/md5-checksums.bin
/.gradle/8.0/checksums/sha1-checksums.bin
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/executionHistory/executionHistory.bin
/.gradle/8.0/executionHistory/executionHistory.lock
/.gradle/8.0/fileChanges/last-build.bin
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/8.0/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.idea/modules/tech-assignment.main.iml
/.idea/modules/tech-assignment.test.iml
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/build/allure-results/5964fa66-6e02-4e87-88c6-f3758e21c009-attachment.txt
/build/allure-results/58454ad9-16ff-4096-b282-e35e314cd38f-container.json
/build/allure-results/bd7cf25e-d98e-48e4-ac53-5c16c3aa6bb0-result.json
/build/allure-results/d035ca25-5a57-49c4-8dfb-7725afa87561-container.json
/build/allure-results/executor.json
/build/classes/java/main/com/ruchi/api/BaseApi.class
/build/classes/java/main/com/ruchi/api/HeroApi.class
/build/classes/java/main/com/ruchi/model/Hero$HeroBuilder.class
/build/classes/java/main/com/ruchi/model/Hero.class
/build/classes/java/main/com/ruchi/model/HeroWithVouchers$HeroWithVouchersBuilder.class
/build/classes/java/main/com/ruchi/model/HeroWithVouchers.class
/build/classes/java/main/com/ruchi/model/Voucher$VoucherBuilder.class
/build/classes/java/main/com/ruchi/model/Voucher.class
/build/classes/java/main/com/ruchi/ui/pages/BookKeeperDashboardPage.class
/build/classes/java/main/com/ruchi/ui/pages/ClerkDashboardPage.class
/build/classes/java/main/com/ruchi/ui/pages/LoginPage.class
/build/classes/java/main/com/ruchi/utils/CsvUtil.class
/build/classes/java/main/com/ruchi/utils/DBUtil.class
/build/classes/java/main/com/ruchi/utils/NumberUtil.class
/build/classes/java/main/com/ruchi/utils/SeleniumUtil$1.class
/build/classes/java/main/com/ruchi/utils/SeleniumUtil.class
/build/classes/java/main/com/ruchi/utils/StringUtil.class
/build/classes/java/main/com/ruchi/Main.class
/build/classes/java/test/com/ruchi/UserStory1Tests.class
/build/classes/java/test/com/ruchi/UserStory2Tests.class
/build/classes/java/test/com/ruchi/UserStory3Tests.class
/build/classes/java/test/com/ruchi/UserStory4Tests.class
/build/classes/java/test/com/ruchi/UserStory5Tests.class
/build/classes/java/test/com/ruchi/UserStory6Tests.class
/build/downloads/tax_relief_file.txt
/build/lombok/effective-config/lombok-main.config
/build/lombok/effective-config/lombok-test.config
/build/reports/tests/test/classes/com.ruchi.UserStory3Tests.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/com.ruchi.html
/build/reports/tests/test/index.html
/build/screenshots/screenshot_20240107_013423.png
/build/screenshots/screenshot_20240107_013521.png
/build/screenshots/screenshot_20240107_141027.png
/build/screenshots/screenshot_20240107_141128.png
/build/screenshots/screenshot_20240107_141256.png
/build/screenshots/screenshot_20240107_142715.png
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-com.ruchi.UserStory3Tests.xml
/build/tmp/compileJava/compileTransaction/stash-dir/ClerkDashboardPage.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/SeleniumUtil$1.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/SeleniumUtil.class.uniqueId2
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/compileTransaction/stash-dir/UserStory2Tests.class.uniqueId0
/build/tmp/compileTestJava/compileTransaction/stash-dir/UserStory3Tests.class.uniqueId1
/build/tmp/compileTestJava/previous-compilation-data.bin
